* {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
}
  .text {
    text-align: center;
    color: #69b8d1;
    font-weight: bold;
  }
